<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<p>Are you sure you want to delete this case?</p>
		</div>	
		<div class="col-sm-4">
			<a href="{{cancel}}"><button class="btn btn-default btn-xs">Cancel</button></a>
		</div>
	</div>
	<form method="post" action="/cases/{{c.sha256}}/delete/{{c.uuid}}">
	<div class="row">	
		<div class="col-sm-4">
			<p><input type="checkbox" name="purge" checked="checked">Purge files</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<input type="submit" value="Delete" class="btn btn-danger btn-xs">
		</div>	
	</div>
	</form>
</div>