<script>
$(document).ready(function() {
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
	$("input:file").change(function (){
	   $("#upload-fname").html($(this).val());
       $("#upload-fname").toggleClass("hidden");
	   $("#hidden-upload").toggleClass("hidden");
    });
});
</script>

<div class="container theme-showcase" role="main">
	<div class="row holder">
		<form action="/files/new-suspect" method="post" enctype="multipart/form-data">
			<input type="file" id="file" name="suspect" class="hidden" />
			<label for="file" class="btn btn-sm btn-default">New suspect</label>
			<span class="filename hidden" id="upload-fname" ></span>
			<input type="submit" value="Upload" id="newcase-submit" class="hidden" />
			<label for="newcase-submit" class="btn btn-sm btn-primary hidden" id="hidden-upload">Upload</label>
		</form>
	</div>
	
	<div class="accordion alternate" id="accordion">
		{{#files}}
			{{> fileblock}}
		{{/files}}
		<div class="row">
			<div class="col-md-1">
			{{#if prev}}
				<a href="{{prev}}"><button class="btn btn-primary btn-xs"><<<</button></a>
			{{/if}}
			</div>
			<div class="col-md-1">
			{{#if next}}
				<a href="{{next}}"><button class="btn btn-primary btn-xs">>>></button></a>
			{{/if}}
			</div>
		</div>
	</div>
</div>
<br />