<script src="/javascripts/Chart.bundle.min.js"></script>
<script src="/javascripts/palette.js"></script>
<div class="container theme-showcase stats-container" role="main">
	<div class="page-header">
		<h1>{{title}}</h1>
	</div>
	<div class="statspane">
		<div class="row statsrow">
			<div class="col-sm-6 statscol">
				<div class="card">
					<div class="card-header"><strong>Cases since <span id="since"></span></strong></div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-6"><h5>Shown: <span id="shownCases" style="font-size: 200%"></span></h5></div>
							<div class="col-sm-6"><h5>Total: <span id="totalCases" style="font-size: 200%"></span></h5></div>
						</div>
					</div>
				</div>
				<div class="card stats-extensions">
					<div class="card-body">
						<div class="extensions-wrapper">
							<canvas id="extensions" class="extensions-chart"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 statscol">
				<div class="card stats-signatures">
					<div class="card-header">
						<p><strong>AV signature hits</strong></p>
					</div>
					<div class="card-body stats-signatures-body">
						<ul id="avsigs">
						</ul>
					</div>
				</div>
				<div class="card stats-signatures">
					<div class="card-header">
						<p><strong>Yara signature hits</strong></p>
					</div>
					<div class="card-body stats-signatures-body">
						<ul id="yarasigs">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row statsrow">
			<div class="col-sm-12 statscol">
				<div class="card">
					<div class="card-body">
						<canvas id="suspectHits" width="400" height="120"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const urlParams = new URLSearchParams(window.location.search);
		const start = urlParams.get('since');
		let url = "/json/stats";
		if (start) {
			url = url + "?since=" + start;
		}

		$.ajax({
			url: url,
			dataType: "json",
			success: function(statsobj) {
				document.getElementById("shownCases").textContent = statsobj.cases;
				document.getElementById("totalCases").textContent = statsobj.cases_all_time;
				document.getElementById("since").textContent = statsobj.startdate;
				let avh = document.getElementById("avsigs");
				let yh = document.getElementById("yarasigs");
				for (let avsig in statsobj.avhits) {
					let li = document.createElement("li");
					let hr = document.createElement("a");
					let search_form = document.createElement("form");
					let search_input = document.createElement("input");
					let tn = document.createTextNode(avsig);
					search_form.method = "post";
					search_form.action = "/search";
					search_input.type = "hidden";
					search_input.name = "searchterm";
					search_input.value = avsig;
					hr.onclick = function () { this.parentElement.submit(); };
					hr.href = "#";
					search_form.appendChild(search_input);
					hr.appendChild(tn);
					search_form.appendChild(hr)
					li.appendChild(search_form);
					avh.appendChild(li);
				}
				for (let yarasig in statsobj.yarahits) {
					let li = document.createElement("li");
					let hr = document.createElement("a");
					let search_form = document.createElement("form");
					let search_input = document.createElement("input");
					let tn = document.createTextNode(yarasig);
					search_form.method = "post";
					search_form.action = "/search";
					search_input.type = "hidden";
					search_input.name = "searchterm";
					search_input.value = yarasig;
					hr.onclick = function () { this.parentElement.submit(); };
					hr.href = "#";
					search_form.appendChild(search_input);
					hr.appendChild(tn);
					search_form.appendChild(hr)
					li.appendChild(search_form);
					yh.appendChild(li);
				}
				let suspectctx = document.getElementById("suspectHits").getContext("2d");
				let suspectHits = new Chart(suspectctx, {
					type: "bar",
					data: {
						labels: statsobj.datelist,
						datasets: [
							{
								label: "Suspect AV hits",
								data: statsobj.suspectavlinedata,
								borderColor: "rgb(255, 112, 112)",
								backgroundColor: "rgb(255, 168, 168)"
							},
							{
								label: "Suspect yara hits",
								data: statsobj.suspectyaralinedata,
								borderColor: "rgb(255, 217, 48)",
								backgroundColor: "rgb(255, 233, 140)"
							},
							{
								label: "Filesystem AV hits",
								data: statsobj.suspectyaralinedata,
								borderColor: "rgb(95, 255, 71)",
								backgroundColor: "rgb(155, 255, 140)"
							},
							{
								label: "Filesystem yara hits",
								data: statsobj.suspectyaralinedata,
								borderColor: "rgb(71, 233, 255)",
								backgroundColor: "rgb(145, 242, 255)"
							}
						],
					},
					options: {
						responsive: true,
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero: true
								}
							}]
						}
					}
				});
				let extensionsctx = document.getElementById("extensions").getContext("2d");
				statsobj.extensions.datasets[0].backgroundColor = palette('tol', statsobj.extensions.datasets[0].data.length).map(function(hex) { return '#' + hex; });
				let extensions = new Chart(extensionsctx, {
					type: "pie",
					data: statsobj.extensions,
					options: {
						responsive: true
					}
				});
			}
		})
	</script>
</div>