/*
 * © https://github.com/scherma
 * contact http_error_418@unsafehex.com
*/

html,body {
  height: 100vh;
}

.filestable>tbody>tr>th  {
  width: 160px;
  border: none;
  height: 26px;
  padding-left: 0;
  padding-right: 0;
}

.filestable>tbody>tr>td {
  border: none;
}

.filestable {
  margin-bottom: 0;
}

.filestable input {
  padding-left: 4px;
  padding-right: 4px;
  border: 0;
  background-color: #d6e5ff;
}

.metatable {
  margin-bottom: 0;
  font-size: 11px;
  table-layout: fixed;
  width: 100%;
}

.metatable>tbody>tr>th, .metatable>tbody>tr>td {
  padding: 4px;
  border: 0;
}

.monospace {
  font-family: monospace;
}

.casecount {
  width: 40px;
}

.casecount label {
  margin-top: 6px;
}

.inrow {
  padding: 8px;
  margin: 0;
}

.alternate .card:nth-child(odd) {
  border-radius: 10px;
  background-color: #eff5ff;
}

.accordion>.card>.card-header td {
  padding-top: 0;
  padding-bottom: 0;
}

.alternate .card:nth-child(odd) input {
  background-color: #bad4ff;
}

.alternate .card:nth-child(even) {
  background-color: #ffffff;
}

.alternate .card:nth-child(even) input {
  background-color: #d6e5ff;
}

.alternate .list-group:nth-child(odd) {
  border-radius: 10px;
  background-color: #eff5ff;
}

.card-body {
  padding: 8px;
}

.meta-pane {
  display: inline-block;
  position: relative;
  width: 100%;
}

.meta-pane nav {
  width: 100%;
}

.meta-pane .card-header {
  padding: 0 8px 0 8px;
}

.metapane-txt {
  font-size: 11px;
}

.metapane-txt-lg {
  font-size: 12px;
}

.metapane-listitem-inner {
  padding: 4px 0 4px 0;
}

.text-break {
  word-wrap: break-word;
}

.holder {
  margin: 8px;
}

.table-align {
  margin: 0;
  padding: 8px;
}

.pcap-link a {
  background-image: -webkit-linear-gradient(top,#d6e5ff 0,#eaf2ff 100%);
  background-image: -o-linear-gradient(top,#d6e5ff 0,#eaf2ff 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d6e5ff),to(#eaf2ff));
  background-image: linear-gradient(to bottom, #d6e5ff 0,#eaf2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6e5ff', endColorstr='#ffeaf2ff', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.pcap-link a:hover {
  color: #1c72ff;
  background-image: -webkit-linear-gradient(top,#d6e5ff 0,#a3c4ff 100%);
  background-image: -o-linear-gradient(top,#d6e5ff 0,#a3c4ff 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d6e5ff),to(#a3c4ff));
  background-image: linear-gradient(to bottom, #d6e5ff 0,#eaf2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6e5ff', endColorstr='#ffa3c4ff', GradientType=0);
}

.file-link a {
  background-image: -webkit-linear-gradient(top,#d6ffd8 0,#f2ffea 100%);
  background-image: -o-linear-gradient(top,#d6ffd8 0,#f2ffea 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d6ffd8),to(#f2ffea));
  background-image: linear-gradient(to bottom, #d6ffd8 0,#f2ffea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6ffd8', endColorstr='#fff2ffea', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.file-link a:hover {
  color: #1c72ff;
  background-image: -webkit-linear-gradient(top,#d6ffd8 0,#f2ffea 100%);
  background-image: -o-linear-gradient(top,#d6ffd8 0,#f2ffea 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d6ffd8),to(#f2ffea));
  background-image: linear-gradient(to bottom, #d6ffd8 0,#f2ffea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6ffd8', endColorstr='#fff2ffea', GradientType=0);
}

.pane-container {
  display: block;
  width: 100%;
}

.screen-pane {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 4px;
}

.detail-pane {
  display: inline-block;
  position: relative;
  width: 100%;
}

.hexdata-outer {
  display: flex;
  margin: auto;
  min-width: 440px;
  clear: both;
}

.hextable {
  display: inline-block;
  float: left;
  min-width: 290px;
}
  
.hexrow {
  clear: both;
  display: flex;
  margin: 0px 15px 0px 15px;
}

.hexitem {
  display: inline-block;
  padding: 0px 3px 0px 3px;
  float: left;
}

.asciitable {
  display: block;
  float: left;
  width: 128px;
}

.asciiline {
  float: left;
  margin: 0px 15px 0px 15px;
}

.asciitable pre {
  padding: 0;
  background-color: #FFFFFF;
  border: none;
  font-size: 1em;
}

.config {
  overflow-y: scroll;
  height: calc(100% - 71px);
}

.overview-alert {
  background-color: #ff8c8c;
}

.overview-netconn {
  background-color: #eaeaea;
}

.overview-file {
  background-color: #eeffe0;
}

.overview-process {
  background-color: #e0ecff;
}

.overview-misc {
}

.stats-signatures-body ul {
  list-style-type: none;
}

.expand-ctrl span {
  float: left;
  transition: all 0.5s;
}

.expand-ctrl.rotated {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
} 

@media (min-width: 1024px) {
  .case-container {
    display: flex;
    height: calc(100% - 71px);
    width: 100%;
  }

  
  .meta-pane {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    float: left;
    word-wrap: break-word;
  }
    
  .scrolltab-card {
    height: calc(100% - 77px);
  }
  
  .scrolltab-card>.card-body {
    height: calc(100% - 64px);
  }
  
  .scrolltab-card.navbar {
  }
  
  .metatable>tbody>tr>td {
    display: inline-block;
    word-wrap: break-word;
  }
  
  .pane-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
  }
  
  .scrolltab {
    display: block;
    overflow-y: auto;
    flex: 1;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  
  .scrolltab>.tab-content {
    width: 100%;
    height: 100%;
  }
    
  .screen-pane {
    display: flex;
    padding: 0 8px 0 8px;
  }
  
  .screen-pane-inner {
    margin: 0 auto 10px auto;
  }
  
  .screen-pane-inner>.carousel {
    max-height: inherit;
    max-width: 900px;
    box-sizing: border-box;
  }
    
  .detail-pane {
    display: flex;
    overflow-y: auto;
    flex: 1;
    bottom: 0;
    height: auto;
  }
  
  .detail-pane-inner {
    width: 100%;
    padding: 0 8px 0 8px;
  }

  .stats-container {
    height: calc(100% - 71px);
    max-width: 80%;
  }

  .statspane {
    height: calc(100% - 140px);
  }

  .statscol {
    height: 400px;
  }
    
  .extensions-wrapper {
    position: relative;
  }

  .stats-extensions {
    height: calc(100% - 86px);
  }

  .stats-signatures {
    height: 50%;
  }

  .stats-signatures.card-header {
    height: 25px;
  }

  .stats-signatures-body {
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-bottom: 15px;
  }

  /* width */
  .scrolltab::-webkit-scrollbar,.stats-signatures-body::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .scrolltab::-webkit-scrollbar-track,.stats-signatures-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  .scrolltab::-webkit-scrollbar-thumb,.stats-signatures-body::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  .scrolltab::-webkit-scrollbar-thumb:hover,.stats-signatures-body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}


